<div class="container text-center" style="align-self:center;width:400px;padding-top:40px">
  <div class="jumbotron" style="width:400px;position:center">
      <div class="row">
        <div class="col-xs-12">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="userid">User Id</label>
                <input type="email"
                       id="userid"
                       class="form-control"
                       name="userid"
                       ngModel
                       required>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="password">Password</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       name="password"
                       ngModel
                       required>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Register </button>&nbsp;
                <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
