<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/" role="button">
      Extra Miles</a>
    <ul class="nav navbar-nav navbar-right">
      <li style="cursor: pointer;" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li style="cursor: pointer;" class="nav-item">
        <a class="nav-link" routerLink="/login">Log in</a>
      </li>
      <li style="cursor: pointer;" class="nav-item">
        <a class="nav-link" routerLink="/logout">Log out</a>
      </li>
      <li class="mx-2">
        <a routerLink=" / " class="btn btn-danger" role="button ">Average Rating:NA</a>
      </li>
      <li class="nav-item dropdown mx-2">
        <a style="cursor: pointer;color: white;" class="dropdown-toggle btn btn-danger" data-toggle="dropdown " role="button">Rahul Kumar</a>
        <div class="dropdown-menu ">
          <a class="dropdown-item ">Link 1</a>
          <a class="dropdown-item ">Link 2</a>
          <a class="dropdown-item ">Link 3</a>
        </div>
      </li>
      <li style="cursor: pointer; " class="nav-item ">
        <a class="btn btn-danger " routerLink="/help " role="button">Help</a>
      </li>
    </ul>
  </div>
</nav>